

@{
    List<SelectListItem> customers = ViewBag.customers;

    ViewBag.Title = "Create";
}

<h2>Rental Movies</h2>

<div style="height:auto; overflow:auto">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        
        <div class="form-group">
            Customers
            
            
            <div class="col-md-2">
                @Html.DropDownList("Customers", customers, "Select customer")
            </div>
        </div>


        @*<div class="form-actions no-color">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-sm" })
            <input type="submit" value="Delete" class="btn btn-danger btn-sm" />

        </div>*@

    }

      
    

</div>
