

@{
    List<SelectListItem> customers = ViewBag.customers;

    ViewBag.Title = "Rent";
}

<h2>Rental Movies</h2>



    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <input name="movieid" type="hidden" value="@ViewBag.movieid" />

        <div class="form-group">
            @*@Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-2" })*@
            
            
            <div class="col-md-2">
                @Html.DropDownList("customerid", customers, "Select customer")
            </div>
        </div>


        <div class="form-actions no-color">
            @Html.ActionLink("Back to Movies", "Index", "Movie", null, new { @class = "btn btn-primary btn-sm" })
            <input type="submit" value="Rent" class="btn btn-danger btn-sm" />

        </div>

    }

      
    


